$c-primary-dark: #589A39;
$c-primary: #92BF64;
$c-primary-light: #C5DFA5;

$c-neutral-darker: #4F4F4F;
$c-neutral-dark: #494949;
$c-neutral-light: #DDDDDD;
$c-neutral-lighter: #E7E7E7;
$c-neutral-lightest: #FFFFFF;
