.app {
  text-align: center;
}

.header {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #f1f1f1;
  background-color: #391a8d;
}

.main {
  .month {
    width: 100%;
    padding: .7rem 0;
    font-size: 1.3rem;
    text-align: center;
    color: #171717;
    background-color: #F2F2F2;
    appearance: none;
    border: none;
  }

  .list {
    text-align: left;
    padding: 1rem 2rem;

    &-item {
      padding: 1rem;
      color: #F0F0F0;
      border-bottom: solid 1px #6D6D6D;
    }
  }
}